<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <style>
        body {
            margin: 0 !important;
            padding: 0 !important;
            scroll-behavior: unset;
            overflow: hidden;
        }

        #root {
            position: relative;
            width: 1670px;
            height: 940px;
            margin-left: auto;
            margin-right: auto;
        }

        @keyframes automatic_typing_animation {
            50% {
                border-color: transparent;
            }
        }

        .automatic_typing {
            border-right: 1px solid black;
            animation: 1s automatic_typing_animation steps(1) infinite;
        }
    </style>
    <title>Case Metaverse</title>
</head>

<body>
    <div id="root"></div>
</body>

</html>