<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <style>
        body {
            margin: 0 !important;
            padding: 0 !important;
            scroll-behavior: unset;
        }
        #root{
            position: relative;
            width: 1670px;
            height: 940px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <title>Case Metaverse</title>
</head>

<body>
    <div id="root"></div>
</body>

</html>