.multiTab {
  width: 85px;
  height: 580px;
  position: absolute;
  top: 0;
  left: 87px;
  z-index: 1;
  background-size: 100% auto;
}

.multiTab1:extend(.multiTab) {
  background-image: url(./images/multi_tab01.png);
}

.multiTab2:extend(.multiTab) {
  background-image: url(./images/multi_tab02.png);
}
